# Foundry files
out/
cache/
broadcast/

# Hardhat files (à garder pour compatibilité)
cache
artifacts
typechain
typechain-types


src_RMM/*

# Node
node_modules
package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Misc
.DS_Store
coverage
coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
