# Clés privées et adresses
PRIVATE_KEY=your_private_key_here
ADMIN_ADDRESS=0x...
EMERGENCY_ADDRESS=0x...
OPERATOR_ADDRESS=0x...

# Adresses des contrats sur Gnosis
RMM_ADDRESS=0x... # Adresse du contrat RMM sur Gnosis
WXDAI_ADDRESS=0xe91D153E0b41518A2Ce8Dd3D7944Fa863463a97d
WXDAI_SUPPLY_ADDRESS=0x... # Adresse du token de supply WXDAI
USDC_ADDRESS=0xDDAfbb505ad214D7b80b1f830fcCc89B60fb7A83
USDC_SUPPLY_ADDRESS=0x... # Adresse du token de supply USDC

# Configuration RPC
GNOSIS_RPC_URL=https://rpc.gnosischain.com
